* {
  box-sizing: border-box;
}
body{
  background-color: #333;
}
.container {
  width: 1450px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background-image: url(../img/Group\ 2.jpg);
  height: 757px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
}
.header__nav ul {
  display: flex;
}
.header__nav ul .header__nav-li {
  color: #333333;
  margin-right: 65px;
}
.header__nav ul .lang-pl {
  color: #FFCD42;
  margin-right: -50px;
}

.header__nav-li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-right: 20px;
}

.header__nav_logo {
  background-image: url(../img/Logo.png);
  background-repeat: no-repeat;
  width: 168px;
  height: 59px;
}

.header__info {
  margin-top: 200px;
}
.header__info_title {
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #333333;
  background-color: #FFCD42;
  width: 694px;
  height: 245px;
  padding: 47px 74px 20px;
}
.header__info-form {
  background-color: #333333;
  width: 694px;
  display: flex;
}
.header__info-form_text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 60px 20px 40px;
}
.header__info-form_btn {
  color: #333333;
  font-size: 16px;
  background-color: #fff;
  width: 230px;
  height: 64px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 20px;
}

.price {
  height: 500px;
  background-color: #333;
}

.price__top {
  display: flex;
  flex-direction: column;
}
.price__top_text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  width: 1000px;
  margin-top: 100px;
}
.price__top_title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
}

.price__bottom {
  background-color: #FFCD42;
  height: 330px;
  position: relative;
}

.price__bottom-wrapper {
  display: flex;
  /* justify-content: space-between; */
}

.price__bottom_inner {
  width: 393px;
  height: 450px;
  background-color: #fff;
  position: absolute;
  top: -150px;
} 
.price__bottom_inner-logo {
  
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: 39px 39px;
}
.price__bottom_inner-img {
 
  background-repeat: no-repeat;
  width: 354px;
  height: 125px;
}
.price__bottom_inner-title {
  font-size: 20px;
  color: #333;
  margin: 25px 40px;
  text-align: center;
}
.price__bottom_inner-text {
  font-size: 14px;
  line-height: 21px;
  color: #333;
  width: 313px;
  height: 84px;
  margin-left: 20px;
}
.price__bottom_inner-btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 202px;
  height: 52px;
  background-color: #333;
  padding: 15px;
  margin-left: 20px;
} 
.img-2{
  left: 630px;
}
.img-3{
  right: 440px;
}

.info{
  background-image: url(../img/Group\ 2.jpg);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  position: relative;
  background-position: 0 -120px;
 display: flex;
 justify-content: center;
}
.info-wrapper{
  width: 1220px;
  height: 450px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 140px;
}

.info__logo{
  background-image: url(../img/Logo.png);
  background-repeat: no-repeat;
  width: 240px;
  height: 85px;
  margin: 30px;
  position: absolute;

}

.info__title{
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  width: 980px;
  height: 99px;
  margin: 150px 20px 30px 30px;
  color: #333;
}
.info__text{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  width: 690px;
  margin: 30px 20px 30px 30px;
}

.form{
  margin-top: 375px;
  background-image: url(../img/form-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 370px;
}







/*# sourceMappingURL=style.css.map */