h1{
  color: rgb(34, 173, 127);
 
}
table {
    border-collapse: collapse;
    
  }

  td,
  th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    
  }

  th {
    color: white;
    font-weight: bold;
    background-color: #928d8d;
  }
  th:nth-child(5n+6){
    background-color: red
  }
  th:nth-child(5n+7){
    background-color: red
  }

  button{
    background-color: aquamarine;
    border-radius: 10px;
  }