div {
    position: relative;
    float: left;
    box-sizing: border-box;
}

.container {
    width: 440px;
    margin: 0 auto;
    float: none;
    background: #fff;
}

.row {
    float: none;
}

.container:after,
.container:before,
.row:after,
.row:before {
    display: table;
    content: " ";
    box-sizing: border-box;
    clear: both;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66666%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    min-height: 1px;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    .col-md-1 {
        width: 8.33333%;
    }

    .col-md-2 {
        width: 16.66666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-5 {
        width: 41.66666%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-8 {
        width: 66.66666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333%;
    }

    .col-md-11 {
        width: 91.66666%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        min-height: 1px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .col-lg-1 {
        width: 8.33333%;
    }

    .col-lg-2 {
        width: 16.66666%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33333%;
    }

    .col-lg-5 {
        width: 41.66666%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33333%;
    }

    .col-lg-8 {
        width: 66.66666%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33333%;
    }

    .col-lg-11 {
        width: 91.66666%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        min-height: 1px;
    }
}

.reg-form {
    border: 1px solid #eee;
    position: relative;
    float: left;
    width: 100%;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
    box-sizing: border-box;
    margin: 16px;
  
}
.reg-form>img{
    position: absolute;
    opacity: .5;
    width: 270px;
    height: 230px;
}
.form-label {
    float: right;
    padding: 15px 15px;
}


.form-control {
    padding: 10px 15px;
    width: 75%;
}

.form-control-check,
.form-control-radio {
    width: 100%;
}

.form-control-check:nth-child(1),
.form-control-radio:first-child {
    margin-top: 6px;
}

.form-control input[type="text"],
.form-control input[type="password"],
.form-control input[type="date"],
select,
.form-control input[type="file"] {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
}

.error input,
.error textarea,
.error select {
    border-color: red !important;
}

.error input[type="password"] {
    border-color: red;
}

.error-text {
    color: red;
    padding: 5px 25px;
    font-size: 12px;
}

.form-control button {
    width: 55%;
    padding: 0px 10px;
    border-radius: 5px;
    box-sizing: border-box;
   
}



.form-control button:active {
    background: red;
}

.form-control input[type="text"]:focus {
    border: 1px solid rgb(219, 89, 180);
}

.stule-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
   
    position: relative;
    display: inline-block;

    outline: none;
}

.btn-4 {
    background-color: #3801f0;
   
    line-height: 42px;
    padding: 0;
    border: none;
    margin: 15px;
}

.btn-4:hover {
    background-color: #95d889;
}

.btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-4:before,
.btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;

}

.btn-4:before {
    height: 0%;
    width: .1px;
}

.btn-4:after {
    width: 0%;
    height: .1px;
}

.btn-4:hover:before {
    height: 100%;
}

.btn-4:hover:after {
    width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
   
}

.btn-4 span:before {
    width: .1px;
    height: 0%;
}

.btn-4 span:after {
    width: 0%;
    height: .1px;
}

.btn-4 span:hover:before {
    height: 100%;
}

.btn-4 span:hover:after {
    width: 100%;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    border: 1px solid #fff;
    width: 800px;
    height: 50px;
   

}div

th,
tr,
td {
    border: 1px solid#fff;
    text-align: center;
    color: #000;
    

}

th {background-color: rgb(122, 205, 233);
    color: #030c12;
    font-weight: 600;
}

tr:nth-child(2n+1) {
background-color: #e095ed;


}

tr:nth-child(2n) {
   background-color: #eb72e5;
}

input {
    opacity: 0.5;
}

.btn-remove{
    margin-bottom: 5px;
}

.btn-save{
    width: 300px;
    padding-left: 35px;
}
.btn-edit {
    margin-bottom: 5px;
    margin-top: 2px;
}
.btn-s{
    margin-left: 50%;
}

.basket{
    width: 800px;
    height: 150px;
    bottom: 80px;
    position: absolute;
    border: 1px solid #eb72e5;
    left: 50px;
    
}
.basket>h2{
    margin: auto 50%;
    position: absolute;
}
.basket_result{
    font-size: 30px;
    margin: 49px 15%;
   

}